body {
	text-transform: capitalize;
}
h1, h2, h3, h4 {
	text-align: center;
}


.dateHeader {
	text-align: center;
	margin-bottom: 1px;
}
.dropdown {
	font-size: 15px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #828287;
	width: 325px;
	text-align-last: center;
	height: 20px;
}
.dates {
	background-color: #e4e4e5;
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 16px;
}
li {
	list-style: none;
	text-align: center;
}